* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Permite o orientare verticală */
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px; /* Adăugați puțin padding */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.centered-image {
    width: 100%; /* Face imaginea să se ajusteze la lățimea containerului */
    max-width: 500px; /* Lățimea maximă pentru imagini mari */
    height: auto;
    margin-bottom: 20px;
}

h2, h3 {
    margin: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permite ca linkurile să se împartă pe linii noi pe ecrane mai mici */
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.nav-links li {
    margin: 0;
}

.nav-links a, .nav-links span {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Media Queries pentru ecrane mici */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em; /* Micșorează dimensiunea fontului pe ecrane mici */
    }

    .centered-image {
        width: 90%; /* Face imaginea mai mare pe ecrane mici */
    }

    .nav-links {
        flex-direction: column; /* Îndoaie linkurile pe o coloană pe ecrane mici */
        align-items: center;
    }
}
